
html{
	height: 100%;
}
html,body{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
}
body{
	background: -moz-linear-gradient(top, rgba(253,253,254,1) 0%, rgba(231,231,231,0.85) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,253,254,1)), color-stop(100%,rgba(231,231,231,0.85)));
background: -webkit-linear-gradient(top, rgba(253,253,254,1) 0%,rgba(231,231,231,0.85) 100%);
background: -o-linear-gradient(top, rgba(253,253,254,1) 0%,rgba(231,231,231,0.85) 100%);
background: -ms-linear-gradient(top, rgba(253,253,254,1) 0%,rgba(231,231,231,0.85) 100%);
background: linear-gradient(to bottom, rgba(253,253,254,1) 0%,rgba(231,231,231,0.85) 100%);
}

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

header{
	position: relative;
	background: rgb(81,61,119);
	background: -moz-linear-gradient(top, rgba(81,61,119,1) 0%, rgba(59,41,92,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(81,61,119,1)), color-stop(100%,rgba(59,41,92,1)));
	background: -webkit-linear-gradient(top, rgba(81,61,119,1) 0%,rgba(59,41,92,1) 100%);
	background: -o-linear-gradient(top, rgba(81,61,119,1) 0%,rgba(59,41,92,1) 100%);
	background: -ms-linear-gradient(top, rgba(81,61,119,1) 0%,rgba(59,41,92,1) 100%);
	background: linear-gradient(to bottom, rgba(81,61,119,1) 0%,rgba(59,41,92,1) 100%);
	color: white;
	text-align: center;
}
header h1{
	color: white;
	margin:0;
	padding:0 0 7px 0;
	font-size: 4em;
	text-shadow:0 5px 0 #3b295c,0 6px 0 #645581;
}
.mid-head{
  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
  background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
  background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
  border-bottom: 2px solid #444444;
}
.bar p{
	margin: 5px 0;
}
.view a{
	color: #565859;
}
